.body11 {
    height: 120px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

select {
    width: 305px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: var(--color-blue);
    color: #ffffff;
    border: 6px solid var(--color-blue);
    border-radius: 5px;
    background-image: url("arrow-down.png");
    background-repeat: no-repeat;
    background-size: 47px;
    background-position: 247px 0.5px;
    outline: none;
    box-shadow: 0 0 20px rgba(20, 20, 30, 0.25);
}

select:hover {
    border: 6px solid #4317c7;
}

select option {
    background-color: black;
    letter-spacing: 1.2px;
    font-weight: 400;
    font-size: 18px;
}

.VoteBtn {
    width: 120px;
    margin-left: 20px;
    padding: 12px 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: var(--color-blue);
    color: #ffffff;
    border: 2px solid var(--color-blue);
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 20px rgba(20, 20, 30, 0.25);
}

.VoteBtn:hover {
    background-color: var(--color-blue);
    border: 2px solid #8c66ff;
}

.popup{
    width: 400px;
    background: #d1cfcf;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.2s, top 0.2s;
    border-radius: 20px 0 20px 0px ;
    border-radius: .6rem;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.948);
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

}



.img-popup {
    width: 80px;
    height: 80px;
    background-image: url('popup.png');
    background-size: cover;
    background-position: center;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.img-popup-cross {
    background-image: url('cross.png');

}

.img-popup-tick {
    background-image: url('tick.png');

}

.open-popup-cross{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 20px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: var(--color-blue);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


